﻿#mySearch {
    font-size: 150px;
    border: transparent;
    font-family: monospace;
    padding: 0 70px;
    width: 100%;
    margin: 20px auto;
    margin-top: 270px;
    letter-spacing: -10px;
    text-align: center;
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    font-size: 80px;
    color: lightgrey;
    family-font: monospace;
}

#mySearch:focus {
    outline-width: 0px;
}
   
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -webkit-searchfield-decoration: none;
}


.box {
    position: relative;
}

.box i {
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: gray;
    left: 5px;
    top: 10%;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

.box input:focus + i {
    display: none;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#list {
    text-align: center;
    list-style-type: none;
    font-size: 25px;
}
li {
margin: 5px;
}

#Loading {
    font-size: 70px;
    color: #999999;
    text-align: center;
}